body {
    font-family: 'Space Mono', monospace;
}
/* layout */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 48px;
    width: 500px    ;
}
/* columns */
.text p{
    padding: 40px;
    width: 400px;
    font-size: 24px;
    font-style: normal;

}
/* button */
.btn {
    margin-top: 1em;
    padding: 24px 43px;
    background: #333333;
    color:#FFF;
}

.btn:hover {
    background: green;
}

.btn:active {
    background: #FFF;
}